services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=qa_db
      - DB_SSL_MODE=disable
      - SERVER_PORT=8080
      - GIN_MODE=release
    depends_on:
      db:
        condition: service_healthy
    networks:
      - qa-network
    command: ["./wait-for-db.sh", "db", "5432", "sh", "-c", "goose -dir migrations postgres 'user=postgres password=password dbname=qa_db host=db port=5432 sslmode=disable' up && ./main"]

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=qa_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    #volumes:
     # - postgres_data:/var/lib/postgresql/data
      #- ./migrations:/docker-entrypoint-initdb.d
    networks:
      - qa-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d qa_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  postgres_data:

networks:
  qa-network:
    driver: bridge